<div class="container" [style.--timeDelay]="timeDelay+'s'" [style.--duration]="duration+'s'" >
  <span>Delay</span>
  <input type="number" [(ngModel)]="timeDelay" >
  <span>Duration</span>
  <input type="number" [(ngModel)]="duration" >
  <div class="teste">
    <div #anim class="anim" [ngClass]="class" ></div>
    <div>
      <select name="" #entrie>
        <option value="fade-in">Fade In</option>
        <option value="slide-in">Slide In</option>
        <option value="twist-fade-in">Twist Fade In</option>
        <option value="zoom-in">Zoom In</option>
        <option value="bounce">Bounce</option>
      </select>
      <span style="margin-left: 10px;" (click)="clickE(entrie.value)">&#9654;</span>
    </div>
  </div>
  <div class="teste">
    <div class="anim" [ngClass]="class2" ></div>
    <div>
      <select #emphasis>
        <option value="twist">Twist</option>
        <option value="pulse">Pulse</option>
        <option value="spin">Spin</option>
        <option value="swing">Swing</option>
      </select>
      <span style="margin-left: 10px;" (click)="clickEph(emphasis.value)">&#9654;</span>
    </div>
  </div>
  <div class="teste">
    <div class="anim" [ngClass]="class3" ></div>
    <div>
      <select #leave>
        <option value="fade-out">Fade Out</option>
        <option value="slide-out">Slide Out</option>
        <option value="twist-fade-out">Twist Fade Out</option>
        <option value="zoom-out">Zoom Out</option>
      </select>
      <span style="margin-left: 10px;" (click)="clickL(leave.value)">&#9654;</span>
    </div>
  </div>
</div>